<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>Job</title>

    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>

<div class="all-wrap">
    <header class="header" th:replace="fragments/header :: header">
    </header>
</div>


<script type="text/javascript" src="/static/js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
<script type="text/javascript" src="/static/js/lib/bootstrap.min.js" th:src="@{/js/lib/bootstrap.min.js}"></script>
<script type="text/javascript" src="/static/js/navbar.js" th:src="@{/js/navbar.js}"></script>
</body>
</html>